@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to first MVC application </h1>
    <p>Learn about building Web apps with ASP.NET Core</p>
    <p>Hey there!! this is Shrish</p>
</div>
